body {
  width: 1440px;
  height: 1540px;
  top: -513px;
  left: 800px;
  background-color: rgba(253, 253, 253, 1);
}

@media only screen and (max-width: 646px) {
  body {
    width: 100%;
    height: 1024px;
    top: -513px;
    left: 2320px;
  }
  .nav {
    width: 100%;
    margin-left: 61px;
  }
  .div-hot {
    width: 100%;
    height: 355px;
    margin-left: 60px;
    margin-top: 59px;
  }
  .yuzmek {
    width: 100%;
    height: 289px;
    margin-top: 12px;
  }
  .span-hot {
    display: none;
  }
  .span2-hot {
    width: 576.94px;
    height: 72px;
    font-size: 18px;
    margin-top: -120px;
    line-height: 36px;
  }
  .div-news {
    width: 100%;
    height: 552px;
    margin-top: 40px;
    margin-left: 60px;
  }
  .latest-news {
    width: 134px;
    height: 28px;
    font-size: 24px;
    line-height: 28.13px;
  }
  .group {
    width: 200px;
    height: 230px;
    margin-right: 7.4px;
  }
  .img {
    width: 200px;
    height: 128px;
    margin-right: 5px;
  }
  .span-news {
    width: 190px;
    height: 48px;
    font-size: 10px;
    line-height: 23.99px;
  }
  .hours-news {
    width: 54px;
    height: 10px;
    font-size: 8px;
    line-height: 9.38px;
  }
  .footer {
    width: 100%;
    margin-left: 50px;
    margin-top: 450px;
  }
}

@media only screen and (max-width: 305px) {
  body {
    width: 100%;
    height: 896px;
    top: -513px;
    left: 3195px;
  }
  .nav {
    width: 100%;
    margin-left: 35px;
  }
  .input-search {
    width: 110px;
    font-size: 18px;
  }
  .div-hot {
    width: 100%;
    margin-left: 35px;
    height: 258px;
    margin-top: 51px;
  }
  .yuzmek {
    width: 100%;
    height: 200px;
    margin-top: 4px;
  }
  .span-hot {
    display: none;
  }
  .span2-hot {
    width: 281px;
    height: 42px;
    font-size: 12px;
    margin-top: -90px;
    line-height: 21.33px;
  }
  .cnn-hot {
    width: 54px;
    height: 12px;
    font-size: 8px;
    line-height: 12px;
  }
  .div-news {
    width: 100%;
    height: 460px;
    margin-left: 32px;
  }
  .latest-news {
    width: 134px;
    height: 28px;
    font-size: 24px;
    line-height: 28.13px;
  }
  .group {
    width: 143px;
    height: 192px;
    margin-right: 9.5px;
  }
  .img {
    width: 143px;
    height: 96px;
  }
  .span-news {
    width: 143px;
    height: 63px;
    font-size: 8px;
    line-height: 21.33px;
  }
  .cnn-news {
    width: 75px;
    height: 10px;
    margin-left: 50px;
    font-size: 8px;
    line-height: 9.38px;
  }
  .hours-news {
    width: 46px;
    height: 10px;
    font-size: 8px;
    line-height: 9.38px;
  }
  .cnn-news {
    width: 64px;
    height: 10px;
    font-size: 8px;
    line-height: 9.38px;
    margin-left: 50px;
  }
  .footer {
    width: 100%;
    margin-left: 0;
    margin-top: 390px;
    font-size: 10px;
  }
}

.nav {
  width: 1179.97px;
  height: 37px;
  margin-top: 32px;
  margin-left: 125px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

.news {
  display: inline-block;
  padding: 8px;
  text-align: center;
  margin: 0;
  border-radius: 4px;
  font-size: 18px;
  color: white;
  background-color: rgba(18, 18, 33, 1);
  width: 56px;
  height: 18px;
}

.portal {
  padding-left: 10px;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  margin: 0;
}

.input-search {
  width: 150px;
  margin-top: -10px;
  font-size: 20px;
  display: inline-block;
  border: none;
  outline: none;
}

.burger-icon {
  display: inline-block;
  margin: 0;
  width: 42.97px;
  height: 35.72px;
}
.search-icon {
  display: inline-block;
  margin: 0;
  text-align: center;
  width: 79.97px;
  height: 35.72px;
}

.div-hot {
  width: 1170px;
  height: 480px;
  margin-top: 67px;
  margin-left: 135px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.h1-hot {
  width: 430px;
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  height: 57px;
  display: flex;
  color: rgba(0, 0, 0, 1);
}

.yuzmek {
  width: 870px;
  margin-top: 24px;
  display: inline-block;
  height: 400px;
  border-radius: 8px;
  color: rgba(196, 196, 196, 1);
}

.span-hot {
  width: 270px;
  position: absolute;
  height: 344px;
  margin-top: 24px;
  margin-left: 22px;
  display: inline-block;
  font-size: 18px;
  line-height: 32.4px;
}

.span2-hot {
  width: 443px;
  position: absolute;
  margin-top: -200px;
  margin-left: 32px;
  font-weight: 700;
  height: 144px;
  font-size: 24px;
  line-height: 48px;
  color: rgba(248, 248, 248, 1);
}

.hours-hot {
  position: absolute;
  margin-top: -50px;
  margin-left: 32px;
  width: 67px;
  height: 18px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgba(248, 248, 248, 1);
}
.cnn-hot {
  position: absolute;
  margin-top: -50px;
  margin-left: 112px;
  width: 151px;
  height: 18px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgba(248, 248, 248, 1);
}

.div-news {
  width: 1170px;
  display: inline-block;
  height: 680px;
  border-radius: 8px;
  margin-top: 60px;
  margin-left: 135px;
}

.latest-news {
  width: 201px;
  height: 40px;
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 42.19px;
}

.group {
  width: 270px;
  height: 294px;
  border-radius: 8px;
  margin-top: 20px;
  margin-right: 22.5px;
  float: left;
}

.img {
  width: 270px;
  height: 176px;
  border-radius: 8px;
}

.span-news {
  width: 270px;
  height: 64px;
  font-weight: 700;
  font-size: 14px;
  line-height: 31.99px;
}

.hours-news {
  position: absolute;
  margin-top: 10px;
  width: 74px;
  height: 14px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
}

.cnn-news {
  position: absolute;
  margin-top: 10px;
  width: 95px;
  margin-left: 80px;
  height: 14px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
}

.footer {
  width: 1170px;
  height: 33px;
  margin-left: 135px;
  margin-top: 80px;
  padding-top: 40px;
  text-align: center;
}
